<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form (ngReset)="reiniciarForm()" (ngSubmit)="salvar()" [formGroup]="cadastro" autocomplete="off" novalidate>
      <mat-card-content>
        <dio-input-text placeholder="Titulo *"  controlName="titulo" [formGroup]="cadastro"></dio-input-text>

        <dio-input-text placeholder="Link Foto" controlName="urlFoto" [formGroup]="cadastro"></dio-input-text>

        <dio-input-date placeholder="Data de Lançamento *" controlName="dataLancamento" [formGroup]="cadastro"></dio-input-date>

        <dio-input-textarea placeholder="Descrição" controlName="descricao" [formGroup]="cadastro"></dio-input-textarea>

        <dio-input-number min="0" max="10" step="0.1" controlName="notaImdb" placeholder="Nota IMDb *" [formGroup]="cadastro"></dio-input-number>

        <dio-input-text placeholder="Link IMDb" controlName="urlIMDb" [formGroup]="cadastro"></dio-input-text>

        <dio-input-select placeholder="Gênero *" controlName="genero" [opcoes]="generos" [formGroup]="cadastro"></dio-input-select>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
